{% extends 'layout.html' %} {% block content %}
<p>Choose from:</p>
<ul>
  {% for plist in playlists.items %}
  <li style="width: 1300px; height: 40px; list-style-type: none; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
    <a style="text-decoration:none; color: black;" href='/recommend/{{plist.id}}'>
      - <img style="width: 40px; height: 40px; vertical-align: middle;" src="{{plist.images[0].url}}" />  - {{plist.name}}
    </a>
  </li>
  <br>
  {% endfor %}
</ul>
{% endblock %}

{# NOTE: playlist object is something like this:
  
  {
    collaborative: false,
    description: 'Spotify Wrapped presents the songs that you loved most this year.',
    external_urls: {
      spotify: 'https://open.spotify.com/playlist/37i9dQZF1EUMDoJuT8yJsl'
    },
    href: 'https://api.spotify.com/v1/playlists/37i9dQZF1EUMDoJuT8yJsl',
    id: '37i9dQZF1EUMDoJuT8yJsl',
    images: [ [Object] ],
    name: 'Your Top Songs 2021',
    owner: {
      display_name: 'Spotify',
      external_urls: [Object],
      href: 'https://api.spotify.com/v1/users/spotify',
      id: 'spotify',
      type: 'user',
      uri: 'spotify:user:spotify'
    },
    primary_color: null,
    public: false,
    snapshot_id: 'MCwwMDAwMDAwMDRjMjA1ZTAxM2E0NDUyNGM2MGQzYjk5ZjJiNTJmZThh',
    tracks: {
      href: 'https://api.spotify.com/v1/playlists/37i9dQZF1EUMDoJuT8yJsl/tracks',
      total: 100
    },
    type: 'playlist',
    uri: 'spotify:playlist:37i9dQZF1EUMDoJuT8yJsl'
  },
  ...
  #}